name: CD pipeline

on:
  workflow_run:
    workflows: ["CI pipeline"]
    types:
      - completed

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build & deploy to EC2 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            cd ~/endgame-phase-1 || git clone https://github.com/adil-rahman-mt/endgame-phase-1.git
            cd ~/endgame-phase-1
            git pull origin main

            sudo docker build -t flask-img:latest .
            sudo docker stop flask-container || true
            sudo docker rm flask-container || true
            sudo docker run -d --name flask-container --restart unless-stopped -p 5000:5000 -e DB_URL="${{ secrets.DB_URL }}" flask-img:latest