name: CI/CD pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    env:
        DB_URL: ${{ secrets.DB_URL }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: pytest

  deploy:
    name: Build & deploy to EC2
    needs: test
    if: success()
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            cd ~/endgame-phase-1 || git clone https://github.com/adil-rahman-mt/endgame-phase-1.git
            cd ~/endgame-phase-1
            git pull origin main

            sudo docker build -t flask-img:latest .
            sudo docker stop flask-container || true
            sudo docker rm flask-container || true
            sudo docker run -d --name flask-container --restart unless-stopped -p 5000:5000 -e DB_URL="${{ secrets.DB_URL }}" flask-img:latest